@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home_header,
.home_main,
.home_nav {
    width: 100vw;
    max-width: 600px;
    background-color: #F5F5F5;
}

.home_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 16px;

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0px 0px 0px 2px #F5F5F5, 0px 0px 0px 3px #AD00FF;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    select {
        border: none;
        background-color: inherit;

    }
}

.notification_bell_icon {
    background-image: url('../images/notification_bell_icon.svg');
    width: 21px;
    height: 25px;
}

#plus_icon {
    background-image: url('../images/plus_icon.svg');
    background-position: center;
    width: 27px;
    height: 27px;
}

.home_nav {
    display: block;
    position: fixed;
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 79px;

    nav {
        display: flex;
        justify-content: space-evenly;
        color: #7F3DFF;
        background-color: #FCFCFC;
        font-size: x-small;
        font-weight: 500;
        z-index: 1000;
        height: 79px;
    }

    a:not(.plus) {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: #FCFCFC;
        align-items: center;
        width: 100%;
        justify-content: center;

        &:not(.selected) {
            color: #C6C6C6;
        }

        &:active {
            background-color: #c6c6c647;
        }
    }

    .selected {
        color: #7F3DFF;
        stroke: red;

        fill: red;

        svg {
            background-color: red;
        }
    }

    :not(.selected) svg {
        fill: #c6c6c647;
        background-color: #c6c6c647;
    }
}


.plus {
    display: flex;
    border: none;
    justify-content: center;
    width: 100%;
    height: 100px;

    .btn {
        display: flex;
        flex-direction: row;
        width: 64px !important;
        height: 64px !important;
        background-color: #7F3DFF;
        border-radius: 50%;
        border: none;
        color: #7F3DFF;
        font-size: 32px;

        &:defined {
            background-color: #7F3DFF;
        }

        &:active {
            background-color: #5529aa;
        }

        &:hover {
            background-color: #5529aa;
        }

        &:focus:active {
            background-color: #2a1455;
        }
    }
}

.popover-body {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;

    > a {
        display: flex;
        flex-direction: row;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: none;
        font-size: 32px;
    }
}

.balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.income_expense {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

.income_icon {
    background-image: url('../images/income_icon.svg');
    width: 24px;
    height: 28px;
}

.expense_icon {
    background-image: url('../images/expense_icon.svg');
    width: 24px;
    height: 28px;
}

.transactions {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: fit-content;
    padding-bottom: 79px;
    min-height: 600px;

    > div:first-child {
        display: flex;
        height: 56px;
        width: calc(100% - 16px);
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        color: #292B2D;
        font-size: large;
        margin: 8px;

        h3 {
            margin: 8px;
            display: flex;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: large;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EEE5FF;
            color: #7F3DFF;
            border: none;
            width: 78px;
            height: 32px;
            font-size: small;
            font-weight: 500;
            border-radius: 40px;

            &:active {
                background-color: #C6C6C6;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 0px;
        padding: 0;
        width: calc(100% - 40px);
    }

    li {
        display: flex;
        margin: 10px;
        list-style-type: none;
        justify-content: space-between;
        align-items: left;

        .card_text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px;
            height: 100%;
            margin-top: 6px;
            margin-bottom: 6px;

            &:first-child {
                align-items: flex-start;
            }

            &:last-child {
                align-items: flex-end;
                margin-left: auto;
            }

            h4,
            p {
                font-weight: 500;
                margin: 0;
                justify-self: center;
            }

            h4 {
                font-size: 1rem;
            }

            p {
                font-size: 0.8125rem;
                color: #91919F;
            }

        }
    }
}

.transaction_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #FCEED4; */
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
    height: 80px;
    width: calc(100% - 16px);
}

#loginError {
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: 10px;
}

.childItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .input-group {
        display: flex;
        flex-basis: 50%;
        flex-direction: row;

        .input-group-text {
            background-color: #F5F5F5;
            border: none;
            color: #7F3DFF;
            font-weight: 500;
        }

        .form-control {
            border: none;
            background-color: #F5F5F5;
            color: #292B2D;
            font-weight: 500;
            text-align: left;

            padding: 10px;
        }
    }
}

[class$="-primary"] {
    background-color: #7F3DFF;
    color: #FCFCFC;
    border: none;
}

[class$="-primary"]:hover {
    background-color: #5529aa !important;
}

[class$="primary"]:focus {
    background-color: #2a1455 !important;
}

[class$="primary"]:hover {
    background-color: #5529aa !important;
}

[class$="primary"]:focus:active {
    background-color: #2a1455 !important;
}

.addNewWallets {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #7F3DFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .header {
        position: absolute;
        top: 20px;
        left: 10px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .arrow-back {
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-image: url('../images/back.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        padding: 0;
        display: inline-block;
    }

    .arrow-back:focus {
        outline: none;
    }

    .title {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        flex-grow: 1;
    }

    .balance-container {
        width: 90%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .balance {
        color: white;
        font-size: 14px;
        text-align: left;
        margin-bottom: 5px;
    }

    .amount-input {
        color: white;
        font-size: 48px;
        font-weight: bold;
        background-color: transparent;
        border: none;
        width: 100%;
    }

    .amount-input:focus {
        outline: none;
    }

    .container {
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        margin-bottom: 0px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        margin-bottom: 15px;
        box-sizing: border-box;
        background-color: #F8F8F8;
        color: #333;
        transition: all 0.3s ease;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #7F3DFF;
        outline: none;
        box-shadow: 0px 0px 10px rgba(127, 61, 255, 0.2);
        background-color: #fff;
    }

    select {
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    select {
        appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z" fill="rgba(0, 0, 0, 0.54)"/></svg>');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 10px);
        background-position-y: 50%;
    }

    select::-ms-expand {
        display: none;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .button {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: #7F3DFF;
        color: white;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }

    body,
    html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        height: 100%;
        background-color: #7F3DFF;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
    }

    .header {
        position: absolute;
        top: 20px;
        left: 10px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .title {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        flex-grow: 1;
    }

    .container {
        width: 90%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        font-size: 16px;
        background-color: #f9f9f9;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    select:focus {
        border: 1px solid #7F3DFF;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(127, 61, 255, 0.2);
        outline: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"]::placeholder {
        color: #999;
        font-style: italic;
    }

    .button {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: #7F3DFF;
        color: white;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }

    .button:hover {
        background-color: #6B31CC;
    }

}

.addChild {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    background-color: #7F3DFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .header {
        position: absolute;
        top: 20px;
        left: 10px;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .title {
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        flex-grow: 1;
    }

    .container {
        width: 100%;
        max-width: 400px;
        background-color: #fff;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        width: 100%;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        font-size: 16px;
        background-color: #f9f9f9;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="password"]:focus,
    select:focus {
        border: 1px solid #7F3DFF;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(127, 61, 255, 0.2);
        outline: none;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"]::placeholder {
        color: #999;
        font-style: italic;
    }

    .button {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: #7F3DFF;
        color: white;
        text-align: center;
        border-radius: 10px;
        font-size: 18px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin-top: 20px;
    }

    .button:hover {
        background-color: #6B31CC;
    }
}